.personal-detail-tab .nav {
  display: contents !important;
}
.personal-detail-section .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  font-size: 16px !important;
  border: none;
  background-color: #c3cbef;
  width: 100%;
  display: flex;
  font-weight: 600;
  color: #556ee6;
}

.personal-detail-section .nav-tabs .nav-link {
  border: none !important;
}

.personal-detail-section .nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border: none;
}

.personal-detail-section .nav-tabs .nav-link {
  font-size: 16px !important;
  color: #495057;
}
.personal-detail-section {
  padding: 0 !important;
}
