.top-dash-heading
{
    font-size: 16px;
    color: #495057;
    font-weight: 600;
    text-transform: uppercase;
}
.dashboard-box
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle
{
    background: #556ee6;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.circle::after
{
    content: '';
    width: 10px;
    height: 500px;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(32deg);
    position: absolute;
    z-index:-1;
}
.dashboard-box-heading
{
    font-size: 13px;
    font-weight: 500;
    color: #74788D;
    padding-bottom: 5px;
}
.score
{
    font-size: 20px;
    font-weight: 500;
}
.card-shadow
{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
}
.text-green
{
    color:#34C38F;
    background: rgba(52, 195, 143, 0.18);
    border-radius: 3px;
    padding: 4px;
    margin-right: 8px;
}
.img-height
{
    width: 100%;
    height: 200px;
}
.chart-heading
{
    font-size: 15px;
    font-weight: 600;
}
.chart-subheading
{
    font-size: 13px;
    color: #74788D;
}
.chart-right-text
{
    display: flex;
    justify-content: space-between;
    color:#74788D;
    font-size: 13px;
    margin-bottom: 10px;
}
.chart-right-text span
{
    margin-right: 15px;
}
.color-circle
{
    /* width: 8px;
    height: 8px; */
    display: flex;
    border-radius: 100px;
    margin-right: 10px;
    padding: 5px;
}
.color-1
{
    background:#556EE6;
}
.color-2
{
    background:#34C38F;
}
.color-3
{
    background:#F1B44C;
}
.color-4
{
    background:#F46A6A;
}
.color-5
{
    background:#74788D;
}
.btn-blue
{
    background: #556EE6 !important;
    color: #fff;
}
