.courses .nav-tabs .nav-link {
  border: none !important;
}

.courses .nav {
  height: 40px !important;
  margin-left: 0 !important;
}

.courses .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #556ee6;
  border-bottom: 3px solid #556ee6 !important;
  height: 40px;
}

.courses .nav-link {
  color: #495057;
}

.learner-bg-image {
  background-image: url("../../../assets/images/coverPicture.png");
  height: 130px;
  position: relative;
}

.learner-bg-image img {
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 1;
}

.profile-detail {
  position: absolute;
  bottom: 5px;
  left: 100px;
}

.profile-detail p {
  color: #556ee6;
}

.profile-detail h5 {
  color: #556ee6;
  font-weight: 600;
}
