.personal-detail-tab .nav {
  display: contents !important;
  line-height: 3;
}
.personal-detail-section .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  font-size: 16px !important;
  border: none;
  background-color: #c3cbef;
  width: 100%;
  display: flex;
  font-weight: 600;
  color: #556ee6;
  border-radius: 0;
}
.personal-detail-tab .card-height {
  height: 100vh;
}

.personal-detail-section .nav-tabs .nav-link {
  border: none !important;
}

.personal-detail-section .nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border: none;
}

.personal-detail-section .nav-tabs .nav-link {
  font-size: 16px !important;
  color: #495057;
  width: 100%;
  text-align: left;
}
.personal-detail-section {
  padding: 0 !important;
}

.personal-detail-section li:nth-child(4) {
  pointer-events: none;
}

.personal-detail-section li:nth-child(5) {
  pointer-events: none;
}

.personal-detail-section li:nth-child(7) {
  pointer-events: none;
}

.personal-detail-section li:nth-child(8) {
  pointer-events: none;
}
