.form-vertical .react-datepicker__input-container input {
  height: 38px !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem;
}

.personal-detail img {
  border-radius: 50%;
  width: 70px;
  cursor: pointer;
  object-fit: cover;
}

.profile-button {
  cursor: pointer;
}

textarea.form-control.text-height.form-control {
  height: 100px;
  resize: none;
}
