/* .batches-box
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
} */

.batches-home .filter-text {
  font-weight: 600;
}
.batches-home .app-search .form-control {
  border-radius: 4px !important;
  border: 1px solid hsl(0, 0%, 80%) !important;
  background-color: transparent !important;
}

/* .batches-home .table-responsive {
  overflow-x: hidden !important;
} */

.batches-home .react-bootstrap-table-pagination-list {
  display: flex !important;
}

.batches-home .page-item .page-link {
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.batches-home .page-item {
  margin-right: 10px;
}

.batches-home .react-bs-table-sizePerPage-dropdown::before {
  content: "Show";
}

.batches-home .react-bs-table-sizePerPage-dropdown::after {
  content: "entries";
}

.batches-home #pageDropDown {
  margin: 0 5px;
  height: 35px;
  background: transparent;
  color: #000000 !important;
  padding: 3px 10px;
}

.batches-box .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.batches-box .box-heading {
  font-size: 13px;
  font-weight: 500;
  color: #495057;
  padding-bottom: 5px;
}
.batches-box .score {
  font-size: 20px;
  font-weight: 500;
}
.batches-box .icon-circle {
  background: #556ee6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-left: 20px;
}
.batches-box .icon-circle::after {
  content: "";
  width: 10px;
  height: 500px;
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(32deg);
  position: absolute;
  z-index: -1;
}
.box-r-btn {
  display: flex;
  justify-content: end;
}
.box-r-btn select {
  width: 150px;
}
/* .batches-home table th {
  min-width: 160px;
  border-top: 1px solid #eff2f7 !important;
  border-bottom: 1px solid #eff2f7 !important;
} */
.batches-home table td {
  border-bottom: 1px solid #eff2f7 !important;
}
.batches-home table thead {
  background: #f8f9fa;
}
.accordionItem-table
{
    display: flex;
}
.batch-accord table th, td
{
    border: 0px solid #000000 !important;
}
/* .batch-accord
{
    border-top: 1px solid #ced4da !important;
} */
.batch-accord .accordion-header
{
    border-top: 0px solid #ced4da !important;
    border-bottom: 0px solid #ced4da !important;;
}
.batch-accord .accordion-header .accordion-button
{
    /* background: transparent !important; */
    /* border: 10px solid rgb(242, 244, 253) !important; */
    background: #F9F9F9 !important;
    color: #495057 !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}
.batch-accord .accordion-body
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.btn-grey
{
    background: #F1F1F3 !important;
    border: 1px solid #F1F1F3 !important;
    color: #747893 !important;
}
/* .table-style table th,td
{
    padding-top: 6px !important;
    padding-bottom: 6px !important;
} */
.table-style table th
{
    border-bottom: 0px solid #000 !important;
    color: #495057;
    font-weight: 600;
}
.table-style table td
{
    color: #74788D;
    font-size: 13px;
    font-weight:400;
}
.batches-list .nav-tabs .nav-link
{
    background: #fff;
    color: #495057;
    border: 0px solid #fff;
}
.batches-list .nav-tabs .nav-link:hover
{
    border: 0px solid #000;
}
.batches-list .nav-tabs
{
    border: 0px solid #000;
    margin: 0;
    border-bottom: 1px solid #EFF2F7;
    height: 38px;
}

.batches-list .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-links
{
    /* background: #556EE6; */
    background: transparent;
    color: #556EE6;
    border-radius:3px;
}
.batches-list .nav-tabs .nav-link.active
{
    border-radius: 0px !important;
    border-bottom: 1px solid #556EE6;
}
.batches-list .nav-tabs .nav-link:hover
{
    /* background: #000000; */
    border-bottom: 1px solid #556EE6;
}
.batches-list .tab-content
{
    padding-top: 50px;
}

.batches-list .table-list th
{
    min-width: 120px;
}
.assign-text
{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}
.assign-text span
{
    font-size: 16px;
    font-weight: 500;
}
.my-progress-bar
{
    display: flex;
    align-items: baseline;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #EFF2F7;
    margin-bottom: 20px;
    margin-top: 10px;
}
.my-progress-bar:last-child
{
    border-bottom: 0px solid #EFF2F7;
    margin-bottom: 0px;
}
.my-progress-bar .label
{
    color: #74788D;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 400;
}
.my-progress-bar .label span
{
    color: #495057;
    font-weight: 500;
}
.report table thead {
  background: #f8f9fa;
}
.report table td {
  border-bottom: 1px solid #eff2f7 !important;
}
.red
{
  color:#E44D4D;
}







@media (max-width: 767px) {
  .batches-box {
    flex-direction: column;
  }
  .box-r-btn {
    flex-direction: column;
  }
  .box-r-btn select {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) { 
    
    .batches-box
    {
        justify-content:flex-start;
    }
    .batches-box .card
    {
        margin-right: 5px;
    }
    .box-r-btn
    {
        justify-content: start;
    }
    .accordionItem-table
    {
        display: flex;
        flex-direction: column;
    }
}
