.cardStyle {
  background: #fff;
  width: 96%;
  height: 70%;
  border-radius: 0.6em;
  margin: 2%;
  overflow: auto;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

.cardStyle:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

::-webkit-scrollbar {
  display: none;
}

.Coltitle {
  font-weight: 500;
}

.title-div {
  height: 20px;
}

.best-seller-tag {
  position: absolute;
  right: -55px;
  top: -8px;
  z-index: 1;
  overflow: hidden;
  width: 90px;
  height: 90px;
  text-align: center;
}
.best-seller-content {
  position: relative;
  top: 12px;
  left: -20px;
}
.best-seller-content:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
}
.best-seller-content:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
}

.status-icon {
  color: white;
}

.tool-bar {
  margin: 10px;
  height: 55px;
  background-color: rgb(255, 255, 255);
}

.create-course-header {
  height: 50px;
  background: black;
  color: white;
  font-size: larger;
}

.span-align {
  padding-left: 10%;
  margin-top: 7px;
}

.course-create-div {
  margin: 5%;
  color: black;
}

.margin5 {
  margin-top: 7%;
}

.course-create-maindiv {
  margin-top: 80px;
  color: black;
  border: 1px solid #ffffff;
  background-color: #fbfbfb;
  // box-shadow: 0 2px 10px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 10px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 10px -6px hsla(0, 0%, 0%, 0.03);
  border-radius: 0.3em;
  margin-bottom: 80px;
}

.course-create-sidebardiv {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 10%;
}

#course-sidebar {
  ul {
    li {
      div {
        display: block;
        padding: 0.8rem 2.5rem;
        color: #545a6d;
        position: relative;
        font-size: 13px;
        transition: all 0.4s;
        border-bottom: 1px solid #c7c7c7;
        cursor: pointer;
        height: 60px;
      }
    }
  }
}

.backcolor {
  background-color: #c7c7c7;
}

#course-sidebar {
  > ul {
    > li {
      &:hover > div {
        background-color: #ececec;
        background-repeat: repeat-x;
      }
    }
  }
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  background-color: #e5e5e5 !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 50px;
  color: rgb(0, 0, 0);
  font-size: large;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  background-color: #e5e5e5 !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 50px;
  color: rgb(0, 0, 0);
  font-size: large;
}

.iconbox {
  color: red;
}
