.courseList .filter-text {
  font-weight: 600;
}
.courseList .app-search .form-control {
  border-radius: 4px !important;
  border: 1px solid hsl(0, 0%, 80%) !important;
  background-color: transparent !important;
}

.courseList .table-responsive {
  overflow-x: hidden !important;
}

.courseList .react-bootstrap-table-pagination-list {
  display: flex !important;
}

.courseList .page-item .page-link {
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courseList .page-item {
  margin-right: 10px;
}

.courseList .react-bs-table-sizePerPage-dropdown::before {
  content: "Show";
}

.courseList .react-bs-table-sizePerPage-dropdown::after {
  content: "entries";
}

.courseList #pageDropDown {
  margin: 0 5px;
  height: 35px;
  background: transparent;
  color: #000000 !important;
  padding: 3px 10px;
}

.courseList .filter-chips {
  border: 1px solid hsl(0, 0%, 80%) !important;
  padding: 3px 7px !important;
  font-size: 11px !important;
}

.courseList .filter-chips span {
  color: #828080;
  font-size: 12px;
  position: relative !important;
  top: 0px !important;
}

.courseList .filter-status li {
  list-style: none;
}

.courseList .filter-status {
  padding-left: 0.5em !important;
}

.badge {
  cursor: pointer;
}
.no_data_found_message {
  position: absolute;
  left: 50%;
  bottom: 10%;
  font-size: 18px;
  font-weight: 400;
}

/* .courseList .live-courses a {
  background-color: #e5e9ff !important;
} */

.courseList .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #495057 !important;
  background-color: #e5e9ff !important;
}

.courseList .nav-pills .nav-link {
  color: #495057 !important;
}
.mt-10
{
  margin-top: 10px;
}


.comment-box
{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: 20px;
  /* align-items: center; */
}
.comment-box li
{
  list-style: none;
  margin-left: 10px;
  margin-right: 20px;
}
.my-accordion
{
  margin-left: 20px;
}
.my-accordion .accordion-button
{
  background: #fff!important;
  color: #34C38F !important;
}
.comment-box-border
{
  border: 1px solid #CED4DA;
}
/* .accordion-button.collapsed::before
{  
  content: '';
  width: 16px;
  height: 25px;
  background: url('../../assets/images/line-1.png');
  position: absolute;
  top: 0px;
  left: 0px;
  
}
.accordion-button .collapsed::before
{
  content: '';
  display: block;
  background: transparent;
  width: 16px;
  height: 25px;
}

.collapsed::before
{
  content: '1234';
  display: block;
} */

/* Bacth Css Start*/

.bacth-accordion .accordion-item
{
  margin-bottom: 20px;
}
.bacth-accordion table th,td
{
  border: 0px solid #000000 !important;
}
.bacth-accordion .accordion-button
{
  background: #F9F9F9 !important;
  color: #000 !important;
}
.bacth-accordion .accordion-body
{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.bg-grey 
{
  background: #F9F9F9 !important;
}
.select_box
{
  overflow: hidden;
  border: 1px solid #ced4da !important;
  position: relative;
  background: #F9F9F9 !important;
  border-radius: 0.25rem !important;
}
.select_box:after
{
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #495057 !important;
  border-radius: 0.25rem !important;
  position: absolute;
  top: 40%;
  right: 5px;
  content: "";
  z-index: 98;
 }
.select_box select
{
  border: 0;
  position: relative;
  z-index: 99;
  background: none;
}
/* Bacth Css End*/






@media (max-width: 767px)
{
  .comment-box
  {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}