.form-vertical .react-datepicker__input-container input {
  height: 38px !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem;
}

.personal-detail img {
  border-radius: 50%;
  width: 70px;
  cursor: pointer;
  object-fit: cover;
}

.profile-button {
  cursor: pointer;
}
.personal-detail-tab.space-height.container-fluid {
  margin-top: 100px;
}

.course-live .form-check-label {
  margin-right: 20px;
}

table.table-full tr td:last-child {
  width: 30%;
  text-align: right;
  padding: 5px 20px;
}
table.table-full tr td:first-child {
  width: 70%;
  padding: 5px 20px;
}
table.table-full {
  width: 100%;
  table-layout: fixed;
}

table.table-full tr th:last-child {
  width: 30%;
  text-align: right;
  padding: 5px 20px;
}
input.form-control.form-control-color {
  border: 1px solid #ced4da;
  border-radius: 4px;
  color: #556ee6;
  width: 100%;
}

input.form-control.form-control-color::-webkit-input-placeholder {
  /* Edge */
  color: #556ee6;
  opacity: 1;
}

input.form-control.form-control-color:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #556ee6;
  opacity: 1;
}

input.form-control.form-control-color::placeholder {
  color: #556ee6;
  opacity: 1;
}
.table-form {
  border-bottom: 1px solid #ced4da;
  padding-bottom: 20px;
  padding-top: 10px;
}
table.table-full tr th:first-child {
  width: 70%;
  padding: 5px 20px;
}

.card-infor-space .accordion-body {
  padding: 0 !important;
}
.accordian-parts .accordion-item {
  margin-bottom: 20px;
}
.accordian-parts h2.accordion-header .accordion-button {
  background: #f9f9f9;
  color: #495057;
  font-weight: 600;
}
table.table-full p {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #556ee6;
}
table.table-full tr th {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #495057;
}
table.table-full-width {
  width: 100%;
}
table.table-full-width tr th {
  padding: 5px 20px;
}
table.table-full-width tr td {
  padding: 5px 20px;
}
table.table-full-width tr td:first-child {
  width: 80%;
}
table.table-full-width tr th:first-child {
  width: 80%;
}
.accordian-parts .accordion-header {
  margin-bottom: 0;
  border-top: 1px solid #ced4da;
}
input.form-control.sml.form-control {
  width: 58px;
}

.create-new-appointment h2 {
  margin: 0;
  font-size: 14px;
  color: #556ee6;
}
.create-new-appointment {
  background: #ffffff;
  border: 1px dashed #556ee6;
  border-radius: 4px;
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  width: 95%;
  color: #556ee6;
}
.accordian-parts .accordion-header svg {
  margin-left: 6px;
}

.input-file-space input {
  width: 200px;
}
.input-file-space {
  display: flex;
  align-items: center;
  justify-content: unset;
}

table.table-full.table-full-course tr td:last-child,
table.table-full.table-full-course tr th:last-child {
  width: 10%;
}
table.table-full.table-full-course tr td:first-child,
table.table-full.table-full-course tr th:first-child {
  width: 20%;
}
table.table-full.table-full-course tr td:nth-child(2),
table.table-full.table-full-course tr th:nth-child(2) {
  width: 35%;
}
table.table-full.table-full-course tr td:nth-child(3),
table.table-full.table-full-course tr th:nth-child(3) {
  width: 20%;
}
table.table-full.table-full-course tr td:nth-child(4),
table.table-full.table-full-course tr th:nth-child(4) {
  width: 10%;
}
table.table-full.table-full-course tr td,
table.table-full.table-full-course tr th {
  padding: 10px 15px;
}
textarea.form-control.form-control-color.form-control.text-area {
  height: 150px;
  min-height: 100%;
  width: 100%;
}

.personal-detail-tab.personal-detail-tab-course.space-height.container-fluid
  .card-height {
  height: auto;
}

.custom-batches {
  display: flex;
  align-items: center;
}
.green {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(52, 195, 143, 0.25098);
  color: #34c38f;
}
.yellow {
  background: rgba(241, 180, 76, 0.25098);
  color: #f1b44c;
}
button.assign-batch.btn.btn-outline-success {
  padding: 3px 19px;
}
.end-row-last {
  display: flex;
  justify-content: flex-end;
}

.end-row-last button.btn.btn-secondary.btn-sm img {
  margin: 0 10px;
}
.end-row-last button.btn.btn-secondary.btn-sm {
  --bs-btn-bg: #f1f1f3;
  /* --bs-btn-bg: #74788d; */
  --bs-btn-border-color: #f1f1f3;
  width: 100%;

  color: #747893 !important;
  height: 36px;
  border-radius: 4px;
}

table.table.table-border-custom tr th {
  background: #f8f9fa;
  font-family: var(--bs-body-font-family);
  border-top: 2px #eff2f7 solid;
  border-bottom: 2px #eff2f7 solid;
}
ul.pagination.pagination-sm .page-item a {
  border: 0;
  padding: 0 14px;
  font-size: 15px;
}
ul.pagination.pagination-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul.pagination.pagination-sm li:first-child,
ul.pagination.pagination-sm li:last-child {
  display: none;
}

.search-input.mb-3 .form-control {
  padding-left: 40px;
}

.search-input.mb-3 img {
  position: absolute;
  left: 8px;
  top: 8px;
}
.search-input.mb-3 {
  position: relative;
}
ul.pagination.pagination-sm .page-item a.active {
  background: #556ee6;
  border-radius: 30px;
  padding: 8px 15px;
}

table.table-border-custom.table tr td .assign-batch.btn {
  width: 100px;
  height: 29px;
  padding: 3px 0;
}

button.assign-batch.assign-batch-border.btn.btn-success {
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #34c38f;
  --bs-btn-hover-color: #2ca67a;
  --bs-btn-hover-bg: #2ca67a;
  --bs-btn-active-bg: #2a9c72;
  --bs-btn-color: #2a9c72;
}
button.secondary-btns-custom.btn.btn-secondary.btn-sm {
  --bs-btn-bg: #74788d;
  --bs-btn-border-color: #fff;
  color: #fff !important;
  font-size: 15px;
}

table.table-full.table-full-course.table-varient tr td:nth-child(2),
table.table-full.table-full-course.table-varient tr th:nth-child(2) {
  width: 77%;
}

.custom-input-file {
  background: #f5f6fd;
  border: 0.6px dashed #556ee6;
  border-radius: 6px;
  margin: 20px;
}

.custom-input-file {
  background: #f5f6fd;
  border: 0.6px dashed #556ee6;
  border-radius: 6px;
  margin: 20px;
  position: relative;
  padding: 16px;
}
.custom-input-file span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-input-file .form-control[type="file"] {
  position: absolute;
  top: 0;
  opacity: 0;
}
